body {
	font-family:arial,helvetica,sans-serif;
}


#stage {
	border:1px dashed black;
	width:800px;
	height:600px;
	background-color:#ffffdd;
	position:relative;
	overflow: hidden;
	
}
#stage div {
	position: absolute;
	background-repeat:no-repeat;
}


#table {
	background-image:url(table.png);
	left:0px;
	top:200px;
	width:800px;
	height:480px;
	z-index:75;
	background-color:red;
}

.person {
	width:203px;
	height:379px;
	
	z-index:50;
	transform-origin: 50% 50%;
	cursor:pointer;
	transform:rotate(20deg);
}


#claudius{
	background-image:url(claudius.png);
	top:50px;
	left:150px;
}
#gertrude{
	background-image:url(gertrude.png);		
	top:50px;
	left:370px;

}
#hamlet{
	background-image:url(hamlet.png);
	top:100px;
	left:600px;
}
#ophelia{
	background-image:url(ophelia.png);
	top:100px;
	left:0px;	
}

