body {
	font-family:arial,helvetica,sans-serif;
}


#stage {
	border:1px dashed black;
	width:800px;
	height:800px;
	background-color:#ffffdd;
	position:relative;
	
	overflow: hidden;
	
}
#stage div {
	position: absolute;
	background-repeat:no-repeat;
	transform-origin: 50% 50%;
}


#table {
	background-image:url(table.png);
	left:0px;
	top:450px;
	width:800px;
	height:480px;
	z-index:75;
	border-radius:1200px / 300px;
}

.person {
	width:203px;
	height:379px;

	z-index:50;
	
	cursor:pointer;
	Xbackground-color: white;
}


#claudius{
	background-image:url(claudius-start.png);
	top:210px;
	left:150px;
	width:233px;
	height:577px;
	background-size:233px 577px;
	
}
#gertrude{
	background-image:url(gertrude-start.png);		
	top:210px;
	left:370px;
	width:311px;
	height:547px;
	background-size:311px 547px;
}
#hamlet{
	width:205px;
	height:600px;	
	background-image:url(hamlet-start.png);
	background-size: 205px 600px;
	top:210px;
	left:600px;
}
#ophelia{
	background-image:url(ophelia-start.png);
	top:240px;
	left:0px;
	width:198px;
	height:559px;
	background-size: 198px 559px;
	
}



.plate {
	background-image:url(empty_plate.png);
	z-index: 150;
	Xbackground-color:blue;
	border-radius:400px/200px;
}

.plate.player {
	width:342px;
	height:227px;
	background-size: 342px 227px;
	top:550px;
	left:220px;
	z-index:162;
	
}

.plate.npc {
	width:91px;
	height:60px;
	background-size:91px 60px;	
}

.plate.ophelia {
	top:530px;
	left:85px;
	Xtransform:rotate(135deg);
}

.plate.claudius {
	top:480px;
	left:270px;

}
.plate.gertrude {
	left:456px;
	top:480px;
}
.plate.hamlet {
	left:620px;
	top:520px;
}




.knife {
	background-image:url(knife_sharp.png);
	z-index: 152;
	Xbackground-color:red;
	Xborder-radius:400px/200px;
}

.knife.player {
	width:52px;
	height:242px;
	background-size: 52px 242px;
	top:550px;
	left:555px;
	z-index:160;
}

.knife.npc {
	width:25px;
	height:100px;
	background-size:25px 100px;
	.background
}

.knife.ophelia {
	top:540px;
	left:75px;
	transform:rotate(135deg);
	
}


.knife.claudius {
	top:483px;
	left:260px;
	transform:rotate(150deg);

}
.knife.gertrude {
	left:438px;
	top:462px;
	transform:rotate(195deg);
}
.knife.hamlet {
	left:603px;
	top:494px;
	transform:rotate(195deg);
}








.spoon {
	background-image:url(spoon.png);
	z-index: 152;
	
	Xborder-radius:400px/200px;
}

.spoon.player {
	width:72px;
	height:222px;
	background-size: 72px 222px;
	top:580px;
	left:600px;
	z-index:160;
}

.spoon.npc {
	width:30px;
	height:100px;
	background-size:30px 100px;
	
}

.spoon.ophelia {
	top:561px;
	left:55px;
	transform:rotate(135deg);
}

.spoon.claudius {
	top:493px;
	left:229px;
	transform:rotate(150deg);
}
.spoon.gertrude {
	left:406px;
	top:460px;
	transform:rotate(195deg);
}
.spoon.hamlet {
	left:580px;
	top:480px;
	transform:rotate(195deg);
}








.fork {
	background-image:url(fork_small.png);
	z-index: 152;
	Xbackground-color:red;
	Xborder-radius:400px/200px;
}

.fork.player {
	width:50px;
	height:222px;
	background-size: 50px 222px;
	top:560px;
	left:180px;
	z-index:160;
}

.fork.npc {
	width:25px;
	height:111px;
	background-size:25px 111px;	
}

.fork.ophelia {
	top:486px;
	left:180px;
	transform:rotate(120deg);
}

.fork.claudius {
	top:457px;
	left:354px;
transform:rotate(160deg);
}
.fork.gertrude {
	left:540px;
	top:480px;
	transform:rotate(200deg);
}
.fork.hamlet {
	left:700px;
	top:525px;
	transform:rotate(210deg);
}




.dagger {
	position:absolute;
	background-image:url(dagger.png);
	width:27px;
	height:64px;
	background-size:27px 64px;
	z-index:200;
}

.heart {
	position:absolute;
	background-image:url(heart.png);
	width:35px;
	height:31px;
	background-size:35px 31px;
	z-index:200;
	
	
}
.food {
	z-index:400;
}


.food.meat.eaten {
	background-image:url(food/meat_half.png);
}

.food.meat {
	background-image:url(food/meat_whole.png);
}
.food.soup.eaten {
	background-image:url(food/soup_half.png);
}

.food.soup {
	background-image:url(food/soup_whole.png);
}
.food.salad.eaten {
	background-image:url(food/salad_half.png);
}

.food.salad {
	background-image:url(food/salad_whole.png);
}
.food.npc {
	width:91px;
	height:60px;
	background-size:91px 60px;
}
.food.player {
	width:342px;
	height:227px;
	background-size: 342px 227px;

}




.speechballoon {
	width:200px;
	height:200px;
	background-size:200px 200px;
	background-image:url(speech/speech_rect.png);
	top:0px;
	z-index:150;
	text-align: center;
}


.speechballoon.ophelia{
	left:0px;
	
	background-image:url(speech/speech_rect_flip.png);
}

.speechballoon.claudius{
	left:200px;
	background-image:url(speech/speech_rect_flip.png);
}
.speechballoon.hamlet{
	left:600px;
}
.speechballoon.gertrude{
	left:400px;
}
.speechballoon.extra {
	left:300px;
	top: 230px;
}

.speechballoon img {
	z-index:175;
	position:relative;
	width:75px;
	z-index:175;
}
.speechballoon.food img {
	top:30px;
}
.speechballoon.occult img {
	top:10px;
}
.speechballoon.gov img {
	top:27px;
}

.speechballoon.family img {
	top:30px;
}


.speechballoon div{
	position:absolute;
	width:75px;
	height:75px;
	background-size: 75px 75px;
	left:0px;
	border-radius:20px;
	opacity: .75;
	cursor: pointer;
	
}
.speechballoon:hover div {
	opacity: 1;
}

.speechballoon div.angry{
	background-image: url(speech/speech_angry.png);
	top:80px;
}
.speechballoon div.susp{
	background-image: url(speech/speech_susp.png);
	top:140px;
}
.speechballoon div.conf{
	background-image: url(speech/speech_conf.png);;
	top:80px;
	left:120px;
}
.speechballoon div.neutral{
	background-image: url(speech/speech_neutral.png);;
	top:110px;
	left:60px;
}
.speechballoon div.excited{
	background-image: url(speech/speech_excited.png);;
	top:140px;
	left:120px;
}




