body {
	font-family:arial,helvetica,sans-serif;
}


#stage {
	border:1px dashed black;
	width:800px;
	height:600px;
	background-color:#ffffdd;
	position:relative;
	overflow: hidden;
	
}
#stage div {
	position: absolute;
	background-repeat:no-repeat;
}


#table {
	background-image:url(table.png);
	left:0px;
	top:250px;
	width:800px;
	height:480px;
	z-index:75;
	border-radius:1200px / 300px;
}

.person {
		width:203px;
	height:379px;

	z-index:50;
	transform-origin: 50% 50%;
	cursor:pointer;
	Xbackground-color: white;
}


#claudius{
	background-image:url(claudius-start.png);
	top:10px;
	left:150px;
	width:233px;
	height:577px;
	background-size:233px 577px;
	transform: scaleX(-1);
}
#gertrude{
	background-image:url(gertrude-start.png);		
	top:10px;
	left:370px;
	width:311px;
	height:547px;
	background-size:311px 547px;
}
#hamlet{
	width:205px;
	height:600px;	
	background-image:url(hamlet-start.png);
	background-size: 205px 600px;
	top:10px;
	left:600px;
}
#ophelia{
	background-image:url(ophelia-start.png);
	top:40px;
	left:0px;
	width:198px;
	height:559px;
	background-size: 198px 559px;
	transform: scaleX(-1);
}

